.header {
  height: rem(68px);
  margin-bottom: rem(120px);
  position: fixed;
  width: 100%;
  z-index: 999;
  background-color: #150e28;
  /* background-color: var(--mantine-color-body); */
  /* border-bottom: rem(1px) solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4)); */
}

.inner {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  display: block;
  line-height: 1;
  padding: rem(8px) rem(12px);
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: white;
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;

  @mixin hover {
    background-color: none;
    color: #d434fe;
  }

  [data-mantine-color-scheme] &[data-active] {
    /* background-color: var(--mantine-color-blue-filled); */
    /* color: var(--mantine-color-white); */
    color: #d434fe;
  }
}
